.bg-primary {
    background-color: hsl(var(--primary))
}

.bg-secondary {
    background-color: hsl(var(--secondary))
}

.bg-background {
    background-color: hsl(var(--background))
}

.border-primary {
    border-color: hsl(var(--primary))
}

.bg-muted {
    background-color: hsl(var(--muted))
}

.bg-accent {
    background-color: hsl(var(--accent))
}

.hover:hover {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
}

.hover-2:hover {
    background-color: hsl(240 5.9% 10%/0.9);
}