.bg-primary {
    background-color: hsl(var(--primary))
}

.bg-secondary {
    background-color: hsl(var(--secondary))
}

.bg-background {
    background-color: hsl(var(--background))
}

.border-primary {
    border-color: hsl(var(--primary))
}

.bg-muted {
    background-color: hsl(var(--muted))
}